<!doctype html>
<html lang="en">
  <head>
    <title>MyProject</title>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../assets/css/blogs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css">
    <script src="app.js" type="text/javascript"></script>
    <script src="components/blog/blogController.js"></script>
  </head>
  <body ng-app="myProjectApp">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <h5>My project test </h5>
      </div>
    </nav>
    <div id="content" ng-controller="BlogController">
      <!-- {{test_content}} </br> -->
      <div class="col-sm-5">
         <input class="form-control searchText" Placeholder="Search for a car.." type='text' ng-model='searchText' />
      </div>
      <div class="table-test">
      <h3>Cars in use:</h3>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
          <thead>
            <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Colour</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="car in cars | filter:searchText" ng-hide="car.in_use == false">
              <td>{{car.make}}</td>
              <td>{{car.model}}</td>
              <td>{{car.colour}}</td>
              <td>{{car.price}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-default">Add a Car </button>
      <form id="new-car-form" class="form-horizontal">
            <div class="row">
              <label class="col-sm-2">Make</label>
              <div class="col-sm-2">
                <input class="form-control" type='text' ng-model="newCar.make"/>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2">Model</label>
              <div class="col-sm-2">
                <input  class="form-control"type='text' ng-model="newCar.model"/>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2">Colour</label>
              <div class="col-sm-2">
                <input class="form-control" type='text' ng-model="newCar.colour"/>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2">Price</label>
              <div class="col-sm-2">
                <input class="form-control" type='text' ng-model="newCar.price"/>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2">Is in use?</label>
              <div class="col-sm-2">
                <input class="form-control" type='text' ng-model="newCar.is_use"/>
              </div>
            </div>
            <button class="btn btn-sm btn-default" ng-click='addNewCar(newCar)'>Submit</button>
         </form>
      <!-- <div class="sorn-vehicles">
      <h3>Cars no longer in use:</h3>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
          <thead>
            <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Colour</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="car in cars | filter:searchText" ng-show="car.in_use == false">
              <td>{{car.make}}</td>
              <td>{{car.model}}</td>
              <td>{{car.colour}}</td>
              <td>{{car.price}}</td>
            </tr>
          </tbody>
        </table>
      </div> -->
    </div>
  </body>
</html>