.navbar{
  background-color: #C7DDF5;
}

#content{
  padding:15px;
  margin-top: 30px;
}
.table-test, .sorn-vehicles {
  margin-top: 10px;
  padding: 10px;
}

#new-car-form {
  padding: 5px;
  margin-top: 10px;
}